/* about */
.about-page .heading {
  margin-top: var(--header-height);
  margin-bottom: var(--section-gutter);
}
.about-page .thing {
  display: flex;
  margin-bottom: var(--section-gutter);
}
@media only screen and (max-width: 768px) {
  .about-page .thing {
    flex-direction: column-reverse;
    margin-bottom: calc(var(--section-gutter) / 2);
  }
}
.about-page .thing div {
  flex: 1;
}
.about-page .thing .picture img {
  width: 100%;
}

.about-page .work-with-us {
  width: 100%;
  padding: var(--header-height) 0;
  background-color: var(--white);
} 
.about-page .work-with-us .inner {
  padding-right: 15%;
}
@media only screen and (max-width: 768px) {
  .about-page .work-with-us .inner {
    padding-right: 0;
  }
}
.about-page .work-with-us button {
  margin-left: 0;
}
