:root {
  --red: #F05E22;
  --blue: #00599A;
  --gold: #C49105;
  --darkGrey: #373737;
  --black: #000000;
  --bg-color: #F4F1ED;
  --white: #FFFFFF;

  --serif: 'Cormorant Garamond', serif;
  --sans-serif: 'Montserrat', sans-serif;

  --section-gutter: 135px;
  --header-height: 70px;
}

/* colors */
.red {
  color: var(--red);
}
.blue {
  color: var(--blue);
}

/* typography */
h1 {
  font-size: 36px;
  font-weight: 500;
}
h5 + h1 {
  margin-top: 10px;
}

h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}

h5 {
  color: var(--gold);
  font-size: 12px;
  font-family: var(--sans-serif);
  text-transform: uppercase;
  margin: 0;
}
h1 + h5 {
  margin-top: -15px;
}

h6, .nav, .footer {
  color: var(--black);
  font-family: var(--sans-serif);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

/* body */
body {
  background-color: var(--bg-color);
  font-family: var(--serif);
  font-size: 15px;
  color: var(--darkGrey);
  margin: 0;
}
.container {
  width: 100%;
  max-width: 956px;
  margin: auto;
}


/* nav */
.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--darkGrey);
}
.nav ul {
  list-style: none;
  text-align: right;
}
.nav ul li {
  display: inline-block;
  margin-left: 10px;
  transition: all .3s;
}
.nav ul li:hover {
  transform: translateY(-1px);
}
.nav ul li a {
  color: inherit;
  text-decoration: none;
}
.nav ul li a.active {
  color: var(--gold);
}

/* footer */
.footer {
  background-color: var(--darkGrey);
  color: var(--white);
  padding-top: 40px;
  margin-top: var(--header-height);
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer ul {
  list-style: none;
  padding-left: 0px;
}
.footer ul li {
  margin-bottom: 10px;
}
.footer ul li a {
  color: inherit;
  text-decoration: none;
}
.footer .copywrite {
  font-family: var(--serif);
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
}

/* dots */
.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.dot.her {
  background-color: var(--red);
}
.dot.him {
  background-color: var(--blue);
}

/* forms */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
input, textarea {
  margin-top: 20px;
  width: 100%;
  font-family: var(--serif);
  font-size: 16px;
}
input:focus, textarea:focus {
  outline: none;
}
input {
  height: 23px;
  border: none;
  border-bottom: 1px solid var(--darkGrey);
  background-color: transparent;
}
textarea {
  background-color: var(--white);
  border: 1px solid var(--darkGrey);
  height: 180px;
  box-sizing: border-box;
}
button {
  height: 56px;
  background-color: var(--red);
  width: 50%;
  border: none;
  color: var(--white);
  margin-left: auto;
  text-transform: uppercase;
  font-family: var(--sans-serif);
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  transition: all .3s;
}
button:hover {
  opacity: 0.8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1);
}

/* index */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));
}
.logo img {
  width: 353px;
  max-width: 100%;
}
.scrollarrow {
  position: absolute;
  bottom: calc(var(--header-height) / 2);
  left: calc(50% - 10px);
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  border: 1px solid black;
  border-top: none;
  border-left: none;
  transition: opacity .5s;
}

.who {
  text-align: center;
}

.us {
  display: flex;
  justify-content: space-between;
  margin-top: var(--section-gutter);
}
.us .one {
  font-size: 15px;
  text-align: left;
  flex: 0 0 45%;
}
.us .one .shot {
  text-align: center;
  border-radius: 50%;
  width: 132px;
  height: 132px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  background-size: cover;
}
.us .one .shot.him {
  background-image: url("him.png");
}
.us .one .shot.her {
  background-image: url("her.png");
}
.us .one .shot .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}
.him .overlay {
  background-color: var(--blue);
}
.her .overlay {
  background-color: var(--red);
}

.capabilities {
  margin-top: var(--section-gutter);
}
.capabilities .skills {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 90px;
}
.capabilities .skill {
  padding-top: 20px;
  opacity: 0;
  transition: all 1s;
}
.capabilities .skill img {
  width: 50%;
}

.testimonials {
  margin-top: var(--section-gutter);
  background-color: var(--darkGrey);
  color: var(--white);
  padding: var(--header-height) 0;
  font-size: 18px;
  font-weight: 500;
}
.testimonials .name {
  font-family: var(--sans-serif);
  text-align: right;
}
.testimonials .title {
  font-style: italic;
  text-align: right;
}

.contact {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--header-height);
}

/* contact */
.contact-page {
  display: flex;
  justify-content: space-between;
}
.contact-page .contact {
  flex: 1;
}
.contact-page .us {
  flex: 1;
}
.contact-page .us img {
  margin-left: auto;
}

/* about */
.about-page .heading {
  margin-top: var(--header-height);
  margin-bottom: var(--section-gutter);
}
.about-page .thing {
  display: flex;
  margin-bottom: var(--section-gutter);
}
.about-page .thing div {
  flex: 1;
}
.about-page .thing .picture img {
  width: 100%;
}

.about-page .work-with-us {
  width: 100%;
  padding: var(--header-height) 0;
  background-color: var(--white);
} 
.about-page .work-with-us .inner {
  padding-right: 15%;
}
.about-page .work-with-us button {
  width: 250px;
  margin-left: 0;
}

/* work */
.work .project {
  display: flex;
  margin-top: 30px;
}
.work .project .picture {
  flex: 2;
}
.work .project .picture img {
  width: 100%;
}
.work .project .description {
  flex: 1;
  padding-left: 30px;
}
