/* about */
.about-page .heading {
  max-width: 815px;
  text-align: center;
  margin-top: var(--header-height);
  margin-bottom: var(--section-gutter);
}
.about-page .thing {
  display: flex;
  margin-bottom: calc(var(--section-gutter) / 2);
}
.about-page .thing div {
  flex: 1;
}
.about-page .thing .picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-page .thing .text {
  padding-right: 150px;
}

.about-page .work-with-us {
  width: 100%;
  padding: var(--header-height) 0;
  background-color: var(--white);
} 
.about-page .work-with-us .inner {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  .about-page .thing {
    flex-direction: column-reverse;
  }
  .about-page .thing .text {
    padding-right: 0;
  }
  .about-page .work-with-us .inner {
    padding-right: 0;
  }
  .about-page .thing .picture {
    justify-content: flex-end;
  }
  .about-page .thing .picture img {
    width: 100%;
  }
}
.about-page .work-with-us button {
  margin-left: 0;
}
